/* global styling; all page elements will include content, padding and border */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* page body; all we need here is a background color set to a ~softer~ color */
body {
    background-color: #d9dcd6;
}

/* Horiseon header; contains nav, ul & li elements */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* H1 element; display inline-block with main header*/
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* "seo" letters are colored slightly different to stand out  */
header h1 .seo {
    color: #d9dcd6;
}

/* header navigation section; aligning/centering */
header nav  {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* nav section list element */
header nav ul  {
    list-style-type: none;
}

/* nav nav lit item elements */
header nav ul li  {
    display: inline-block;
    margin-left: 25px;
}

/* coloring all links; removed underlining to look more clean on the page */
a {
    color: #ffffff;
    text-decoration: none;
}

/* consistent 16px size across the page with <p> */
p {
    font-size: 16;
}

/* Body page img; the main image and needs to be the feature image */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* img elements floated left: seo & smm */
.float-left {
    float: left;
    margin-right: 25px;
}
/* img elements floated right: orm */
.float-right {
    float: right;
    margin-left: 25px;
}

/* main content section */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* 3 sections within main */
main section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* setting hight to main section imgs */
main section img {
    max-height: 200px;
}

/* styling for main section h2; spaces p  */
main section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* right side of page content; contains 3 sections */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* styling for each section in aside */
aside section {
    margin-bottom: 32px;
    color: #ffffff;
}

/* styling for h3 wthin each aside section */
aside section h3 {
    margin-bottom: 10px;
    text-align: center; 
}

/* styling to align/center aside images */
aside section img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* footer which is made with love; styling to center on page */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 20px;
}
